Repository hidaytrahman/camcheckmate, changes with the labels that .github/labeler.yml gives for each.
All labels: test, development, utils, views

.github/labeler.yml:

# Add 'test' label to any change to *.spec.js files within the source dir
test:
    - src/**/*.spec.js

# Add 'development' label to any change to src files within the source dir EXCEPT for the docs sub-folder
development:
    - any: ['src/**', '!src/docs/*']

# Add 'utils' label to any change to src utils files within
utils:
    - any: ['src/utils/**']

# Add 'views' label to any change to src utils files within
views:
    - any: ['src/views/**']

Updates
  Firefly web cam test online logo transparent 6207.jpg
  assets/index-95065f2c.js
  assets/index-f813175c.css
  index.html
Labels: none

config(deploy): auto gh-pages deploy
  package-lock.json
  package.json
Labels: none

config: for deployment
  vite.config.ts
Labels: none

refactor: code clean for deployment
  src/App.tsx
  src/components/common/Nav.tsx
  src/components/common/NavTop.tsx
  src/components/common/TextAnimation.tsx
  src/components/layout/FooterNav.tsx
  src/components/layout/MasterBanner.tsx
  src/views/Camera.tsx
  src/views/Landing.tsx
Labels: development, views

Create auto_deployment.yml
  .github/workflows/auto_deployment.yml
Labels: none

Update auto_deployment.yml
  .github/workflows/auto_deployment.yml
Labels: none

Update auto_deployment.yml
  .github/workflows/auto_deployment.yml
Labels: none

Update auto_deployment.yml
  .github/workflows/auto_deployment.yml
Labels: none

feat: disconnect status of camera
  src/views/Camera.tsx
Labels: development, views

Deploying to gh-pages from @ hidaytrahman/camcheckmate@ab936b7b607f26c6a0589225cd5ecce71f916026 🚀
  assets/index-3a353660.js
  assets/index-8d849fd3.css
  assets/index-f813175c.css
  index.html
Labels: none

Update auto_deployment.yml
  .github/workflows/auto_deployment.yml
Labels: none

Deploying to gh-pages from @ hidaytrahman/camcheckmate@9a3cdf57624ce69b42e931a238289d876adcccd2 🚀
  404.html
Labels: none

fix(deployment): gh-pages issue
  .github/workflows/auto_deployment.yml
  404.html
Labels: none

Deploying to gh-pages from @ hidaytrahman/camcheckmate@f381af5f573e5382d6adb2eab7d7ffe8232de301 🚀
  404.html
Labels: none

fix: for vercel
  404.html
  package-lock.json
  package.json
  src/App.tsx
  src/components/common/Nav.tsx
  src/components/layout/MasterBanner.tsx
  tsconfig.json
  vite.config.ts
Labels: development

fix: vercel error
  tsconfig.json
Labels: none

refactor: disable CI CD action
  .github/workflows/auto_deployment.yml
Labels: none

Update MasterBanner.tsx
  src/components/layout/MasterBanner.tsx
Labels: development

feat: add dropdown to handle camera selection
  src/components/common/Dropdown copy.tsx
  src/components/common/Dropdown.tsx
Labels: development

feat: camera selection implementation
  src/views/Camera.tsx
Labels: development, views

fix: space adjustments
  package-lock.json
  package.json
  src/views/Camera.tsx
Labels: development, views

refactor: split camera code
  src/components/features/WebCamera.tsx
  src/views/Camera.tsx
Labels: development, views

feat: live view introduce
  src/components/features/LiveView.tsx
Labels: development

feat: result view introduce
  src/components/features/ResultView.tsx
Labels: development

refactor: code
  src/components/features/WebCamera.tsx
  src/views/Camera.tsx
Labels: development, views

fix: error deployment
  src/views/Camera.tsx
Labels: development, views

fix: nav
  src/components/common/Nav.tsx
Labels: development

feat: default selection
  package.json
  src/components/common/Dropdown.tsx
Labels: development

feat: mirror feature implementations
  src/components/features/WebCamera.tsx
Labels: development

feat: manual dark mode wip
  index.html
  tailwind.config.js
Labels: none

feat: filters implementation
  src/App.css
  src/components/features/WebCamera.tsx
  src/utils/camera.utils.ts
  src/views/Camera.tsx
Labels: development, utils, views

refactor: selection and code
  src/components/common/Dropdown.tsx
  src/components/features/LiveView.tsx
  src/components/features/ResultView.tsx
Labels: development

fix: build issue
  src/components/common/Dropdown.tsx
  src/components/features/WebCamera.tsx
Labels: development
